.navsearch {
    padding-left: 1em;
    width: 50em;
}
.user-stats {
    padding-right: 1em;
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(225, 225, 225);
    background-color: rgb(225, 225, 225);
    padding-left: 1em;
    color: purple;
}
nav .navbarr a {
    color: purple;
}
.navsearchbtn {
    color: purple;
    border-color: purple;
}
.navsearchbtn:hover {
    background-color: black;
    color: purple;
}
.Dialogsbar {
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(225, 225, 225);
    background-color: rgb(225, 225, 225);
    height: 40em;
} 
.infoframebar {
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(225, 225, 225);
    background-color: rgb(225, 225, 225);
    height: 50em;
    padding-top: 1em;
}
.swapbtn {
    color: purple;
    background-color: rgb(225, 225, 225);
}
.swapbtn:hover {
    background-color: black;
    color: purple;
}
.sbtn {
    text-align: center;
}